<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="cleartype" content="on">
		<title>Test project</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
		<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
	</head>

	<body>
		<div style="position: fixed; background: #fff; height: 100%; left: 0; right: 0; top: 0; bottom: 0; z-index: 9999;" class="preloader-overlay"><img style="position: fixed; left: 0; right: 0; top: 0; bottom: 0; margin: auto; max-width: 100%;" src="images/preloader.gif" class="preloader"></div>
		<div class="mainwrap">
			<header class="header">
				<div class="header__inner">
					<ul class="header__menu">
						<li class="header__menu-item header__menu-item_active"><a href="javascript:void(0);" class="header__menu-link">home</a></li>
						<li class="header__menu-item"><a href="javascript:void(0);" class="header__menu-link">services</a></li>
						<li class="header__menu-item"><a href="javascript:void(0);" class="header__menu-link">team</a></li>
						<li class="header__menu-item"><a href="javascript:void(0);" class="header__menu-link">portfolio</a></li>
					</ul>
					<h1>Hi there! We are the new kids on the block and we build awesome websites and mobile apps.</h1>
					<button class="header__btn">work with us!</button>
				</div>
			</header>
			<section class="services">
				<div class="services__inner">
					<h1 class="services__heading">services we provide</h1>
					<p>We are working with both individuals and businesses from all over the globe to create awesome websites and applications.</p>
					<ul class="services__list wow">
						<li class="services__list-item services__list-item_branding">branding
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
						</li>
						<li class="services__list-item services__list-item_design">design
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
						</li>
						<li class="services__list-item services__list-item_development">development
							<p>At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
						</li>
						<li class="services__list-item services__list-item_science">rocket science
							<p>Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</p>
						</li>
					</ul>
				</div>
			</section>
			<section class="team">
				<div class="team__inner">
					<h1 class="team__heading">meet our beautiful team</h1>
					<p>We are a small team of designers and developers, who help brands with big ideas.</p>
					<ul class="team__list">
						<li class="team__list-item wow"><img src="images/photo1.png" alt="photo1.png" class="team__list-photo" />
							<div class="team__list-name">Audrey Tautou</div><a href="javascript:void(0);" class="team__list-link">CEO / Marketing Guru</a>
							<p class="team__list-descr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
							<ul class="team__socials">
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_fb"></a>
								</li>
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_tw"></a>
								</li>
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_in"></a>
								</li>
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_mail"></a>
								</li>
							</ul>
						</li>
						<li class="team__list-item wow"><img src="images/photo2.png" alt="photo2.png" class="team__list-photo" />
							<div class="team__list-name">Hayden Panettiere</div><a href="javascript:void(0);" class="team__list-link">Creative Director</a>
							<p class="team__list-descr">Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.</p>
							<ul class="team__socials">
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_tw"></a>
								</li>
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_in"></a>
								</li>
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_mail"></a>
								</li>
							</ul>
						</li>
						<li class="team__list-item wow"><img src="images/photo3.png" alt="photo3.png" class="team__list-photo" />
							<div class="team__list-name">Olivia Wilde</div><a href="javascript:void(0);" class="team__list-link">Lead Designer</a>
							<p class="team__list-descr">Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.</p>
							<ul class="team__socials">
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_fb"></a>
								</li>
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_tw"></a>
								</li>
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_in"></a>
								</li>
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_mail"></a>
								</li>
							</ul>
						</li>
						<li class="team__list-item wow"><img src="images/photo4.png" alt="photo4.png" class="team__list-photo" />
							<div class="team__list-name">Ashley Greene</div><a href="javascript:void(0);" class="team__list-link">SEO / Developer</a>
							<p class="team__list-descr">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
							<ul class="team__socials">
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_tw"></a>
								</li>
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_in"></a>
								</li>
								<li class="team__socials-item">
									<a href="javascript:void(0);" class="team__socials-link team__socials-link_mail"></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</section>
			<section class="portfolio">
				<div class="portfolio__inner">
					<h1 class="portfolio__heading">our portfolio</h1>
					<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam</p>
					<div class="portfolio__tabs"><a href="javascript:void(0);" data-filter="all" class="portfolio__tabs-tab portfolio__tabs-tab_active">all</a><a href="javascript:void(0);" data-filter="web" class="portfolio__tabs-tab">web</a><a href="javascript:void(0);" data-filter="app" class="portfolio__tabs-tab">apps</a></div>
					<ul
					class="portfolio__items">
						<li data-type="app" class="portfolio__items-item"><img src="images/works1.png" alt="works1.png" class="portfolio__items-img" />
							<div class="portfolio__items-title">Isometric Perspective Mock-Up</div>
						</li>
						<li data-type="app" class="portfolio__items-item"><img src="images/works2.png" alt="works2.png" class="portfolio__items-img" />
							<div class="portfolio__items-title">Time Zone App UI</div>
						</li>
						<li data-type="web" class="portfolio__items-item"><img src="images/works3.png" alt="works3.png" class="portfolio__items-img" />
							<div class="portfolio__items-title">Viro Media Players UI</div>
						</li>
						<li data-type="web" class="portfolio__items-item"><img src="images/works4.png" alt="works4.png" class="portfolio__items-img" />
							<div class="portfolio__items-title">Blog / Magazine Flat UI Kit</div>
						</li>
						</ul>
						<button id="loadmore" class="portfolio__btn">load more projects</button>
						<script id="template" type="text/template">
							<li class="portfolio__items-item" data-type="<%= type %>">
								<img class="portfolio__items-img" src="<%= img %>" alt="<%= title %>">
								<div class="portfolio__items-title">
									<%= title %>
								</div>
							</li>
						</script>
				</div>
			</section>
		</div>
		<footer class="footer">
			<div class="footer__inner">
				<ul class="footer__menu">
					<li class="footer__menu-item"><a href="javascript:void(0);" class="footer__menu-link">Facebook</a></li>
					<li class="footer__menu-item"><a href="javascript:void(0);" class="footer__menu-link">Twitter</a></li>
					<li class="footer__menu-item"><a href="javascript:void(0);" class="footer__menu-link">Google+</a></li>
					<li class="footer__menu-item"><a href="javascript:void(0);" class="footer__menu-link">LinkedIn</a></li>
					<li class="footer__menu-item"><a href="javascript:void(0);" class="footer__menu-link">Behance</a></li>
					<li class="footer__menu-item"><a href="javascript:void(0);" class="footer__menu-link">Dribbble</a></li>
					<li class="footer__menu-item"><a href="javascript:void(0);" class="footer__menu-link">GitHub</a></li>
				</ul>
			</div>
		</footer>
		<script src="js/wow.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/scrollTo.js"></script>
	</body>

</html>